<div class="row list list-{{category}}">
    <div class="col-50">
        <div class="row">
            <a href="javascript:void(0);" class="col-50 go-back bc-{{category}}" data-link-home>
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="column-icon {{getCategoryProperty category 'icon'}}"></span>
                <span class="column-text">{{getCategoryProperty category 'description'}}</span>
            </a>
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-back-{{category}}-1',
                    :index => 0
                }) %>
        </div>
        <div class="row">
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-back-{{category}}-2',
                    :index => 1
                }) %>
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-back-{{category}}-3',
                    :index => 2
                }) %>
        </div>
        <div class="row">
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-back-{{category}}-4',
                    :index => 3
                }) %>
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-back-{{category}}-5',
                    :index => 4
                }) %>
        </div>
    </div>
    <div class="col-50 ad-list ad-back-{{category}}-6" id="list_carousel_container" data-carousel="{{category}}" data-template="list_carousel">
      <div class="ad-list-content bds-default">
        <div class="advert-loading"></div>
      </div>
    </div>
</div>
