<div class="row list list-{{category}}">
    <div class="col-50">
        <div class="row">
            <a href="#" class="col-50 go-back bc-{{category}}" data-link-home>
                <i class="material-icons">keyboard_arrow_left</i>
                <span class="column-icon {{getCategoryProperty category 'icon'}}"></span>
                <span class="column-text">{{getCategoryProperty category 'description'}}</span>
            </a>
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-water'
                }) %>
        </div>
        <div class="row">
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-coffee'
                }) %>
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-juice-1'
                }) %>
        </div>
        <div class="row">
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-wine'
                }) %>
            <%= partial('partials/ad_small', :locals => {
                    :the_class => 'ad-juice-2'
                }) %>
        </div>
    </div>
    <div class="col-50">
        2
    </div>
</div>
